<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxrcb.portal.mapper.CodeLibraryMapper">
  <resultMap id="BaseResultMap" type="com.sxrcb.portal.entity.CodeLibrary">
    <id column="code_type" jdbcType="VARCHAR" property="codeType" />
    <id column="code_no" jdbcType="VARCHAR" property="codeNo" />
    <result column="code_name" jdbcType="VARCHAR" property="codeName" />
  </resultMap>

  <select id="selectAll" parameterType="List" resultMap="BaseResultMap">
    select code_type, code_no, code_name
    from portal_code_library where
     code_type in
    <foreach item="item" collection="codeType" open='(' separator=',' close=')'>#{item}</foreach>

  </select>
</mapper>