<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxrcb.portal.mapper.PositionMapper">
  <resultMap id="BaseResultMap" type="com.sxrcb.portal.entity.Position">
    <id column="POSITION_NO" jdbcType="VARCHAR" property="positionNo" />
    <result column="POSITION_NAME" jdbcType="VARCHAR" property="positionName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from portal_position
    where position_no = #{positionNo,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.sxrcb.portal.entity.Position">
    insert into portal_position (position_no, position_name)
    values (#{positionNo,jdbcType=VARCHAR}, #{positionName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.sxrcb.portal.entity.Position">
    update portal_position
    set position_name = #{positionName,jdbcType=VARCHAR}
    where position_no = #{positionNo,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select position_no, position_name
    from portal_position
    where position_no = #{positionNo,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select position_no, position_name
    from portal_position
    where 1=1
    <if test="positionNo != '' and positionNo != null">and position_no = #{positionNo}</if>
    <if test="positionName != '' and positionName != null">and position_name = #{positionName}</if>

  </select>
</mapper>